body {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: #ffffff ;
    color: rgb(0, 0, 0)
}

.Menu{ 
    text-align: center;
    color: white;
    padding: 20%;
}

.headermenu{
    background-color: #010813;
}

.nome{
    text-align: center;
}

#container{
    display: flex;
    flex-direction: row;
}


.nome{
    text-align: center  ;
    font-size: xx-large;
}


.secao{
    padding: 60px;
    margin: 20px;
    background-color: #e0e0e0;
    border-radius: 5px;
}

#conteudo{
    padding: 20px;
    flex-direction: row;
}

.listmenu{ 
    padding: 1%;
    margin: 4%;
}


.linkmenu { 
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.listmenu:hover{

    border: none;
}

#formacao{
    background-color: #cadefc;
}

#experiencia{
    background-color: #cadefc;
}

#habilidades{
    background-color: #cadefc;
}

#hobbies{
    background-color: #cadefc;
}

#contato{
    background-color: #cadefc;
}
